p {
  color: black;
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}

.title {
  font-weight: 600;
  font-size: 40px;
}

.link {
  text-decoration: underline;
}